@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;600;700;800;900&display=swap');

:root {
  /*bg colors */
  --backkground: #303030;
  --primary: #2b2b2b;
  --secondary: #727070;
  --boton: #d6d6d6;

  /*Text Colors */
  --text-gray: #adb9c7;
}

/* Selector Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* Header */
header {
  background: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 40px 0px 30px;
  position: fixed;
  top: 0;
}

.logo {
  height: 60px;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 30px;
}

.navbar-list a {
  color: var(--text-gray);
  background-color: transparent;
  transition: background-color 0.2s;
}

a:hover {
  background-color: var(--primary);
  color: var(--text-gray);
  width: 100px;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}
